// GENERAL STUFF 
* {
  all: unset;
}

$bg: #0b0f10;
$black: #151a1c;
$altbg: #2c3436;

$fg: #c5c8c9;
$fg2: #6e7071;
$gray: #b2b2b2;

$green: #87c7a1;

$font: "JetBrainsMono Nerd Font";
$altfont: "FuraCode Nerd Font";

.battery-top {
  background-color: white;
  border-radius: 1px 1px 0 0;
}

.battery.progress-container {
  $radius: 4px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: $radius $radius 0 0;
  progress {
    background-color: lightgreen;
  }
  trough {
    min-height: 15px;
    border: 1px solid black;
    border-radius: $radius $radius 0 0;
  }
  progress, trough {
    min-width: 6px;
  }
}

tooltip {
  background-color: $green;
  font-weight: bolder;
  border-radius: 5px;
}

// BAR 
.eww-bar {
  font-family: $font;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
}

.volume {
  font-size: 15px;
}
.warning {
  color: #C35817;
}
.time {
  border-radius: 10px;
}
.hour {
  font-size: 17px;
  font-weight: bolder;
}
.min {
  font-size: 17px;
  font-weight: bold;
}
.month {
  font-size: 12px;
  padding-top: 3px;
  font-family: $altfont;
}
.wp {
  border-radius: 20px;
  padding: 0.2px 0.5px;
  font-size: 20px;
  font-family: $font;
}
.wp-free, .wp-occupied {
  opacity: 0.7;
}


