// GENERAL STUFF 
* {
  all: unset;
}

$bg: #0b0f10;
$black: #151a1c;
$altbg: #2c3436;

$fg: #c5c8c9;
$fg2: #6e7071;
$gray: #b2b2b2;

$green: #87c7a1;

$font: "JetBrainsMono Nerd Font";
$altfont: "FuraCode Nerd Font";

tooltip {
  background-color: $green;
  font-weight: bolder;
  border-radius: 5px;
}

// BAR 
.eww-bar {
  font-family: $font;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.time {
  border-radius: 10px;
  padding: 0.55em;
}
.hour {
  font-size: 1.2em;
  font-weight: bolder;
}
.min {
  font-size: 1.2em;
  font-weight: bold;
}
.month {
  font-size: 0.8em;
  padding-top: 3px;
  font-family: $altfont;
}
.wp {
  border-radius: 20px;
  padding: 0.2em 0.5em;
  font-size: 1.4em;
  font-family: $font;
}
.wp-free, .wp-occupied {
  opacity: 0.7;
}

