* {
  all: unset;
  padding: 0;
  margin: 0;
}

$bg: #0b0f10;
$black: #151a1c;
$altbg: #2c3436;

$fg: #c5c8c9;
$fg2: #6e7071;
$gray: #b2b2b2;

$blueish: #1d4147;

$font: "DroidSansMono Nerd Font";
$altfont: "FiraCode Nerd Font";

.battery-top {
  background-color: white;
  border-radius: 1px 1px 0 0;
}

.battery.progress-container {
  $radius: 4px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: $radius $radius 0 0;
  progress {
    background-color: lightgreen;
  }
  trough {
    min-height: 15px;
    border: 1px solid black;
    border-radius: $radius $radius 0 0;
  }
  progress, trough {
    min-width: 6px;
  }
}

tooltip {
  background: rgb(20,36,77);
  background: linear-gradient(151deg, rgba(20,36,77,1) 0%, rgba(12,39,82,1) 59%, rgba(29,52,71,1) 100%); 
  font-weight: bolder;
  border-radius: 5px;
  color: black;
}

// BAR 
.eww-bar {
  font-family: $font;
  color: white;
  font-size: 13px;
  background-color: rgba(0, 100, 0, 0);
}

.volume {
}
.warning {
  color: #C35817;
}
.time {
  border-radius: 10px;
}
.hour, .day {
  font-size: 13px;
  font-weight: 700;
  font-family: $altfont;
}
.min, .month {
  font-size: 13px;
  font-family: $altfont;
}
// .month {
//   font-size: 12px;
//   padding-top: 3px;
//   font-family: $altfont;
// }
.wp {
  border-radius: 20px;
  font-family: $font;
  font-size: 17px;
}
.wp-free, .wp-occupied {
  opacity: 0.7;
}

